.dr-progress {
  border: 1px solid var(--dr-on-surface);
  background: #ddd;
  position: relative;
  overflow: hidden;
}

.dr-progress__fill {
  position: absolute;
  inset: 0 auto 0 0;
  background: repeating-linear-gradient(
    45deg,
    var(--dr-on-surface) 0,
    var(--dr-on-surface) 2px,
    transparent 0,
    transparent 4px
  );
  transition: width 0.3s;
}
